<h1>Form edit product</h1>
<form [formGroup]="productForm" (ngSubmit)="submit()">
  <div>
    <label for="id">Id:</label>
    <input type="number" id="id" formControlName="id">
    <p style="color: red" [hidden]="idControl.valid || !idControl.touched">Id is required</p>
  </div>
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name">
    <div [hidden]="nameControl.valid || !nameControl.touched">
      <div style="color:red" *ngIf="nameControl.errors?.required">Name is required</div>
      <div style="color:red" *ngIf="nameControl.errors?.minlength">Minlength is 6</div>
      <div style="color:red" *ngIf="nameControl.errors?.maxlength">maxlength is 15</div>
    </div>
  </div>
  <div>
    <label for="price">Price:</label>
    <input type="text" id="price" name="price" formControlName="price">
  </div>
  <div>
    <label for="description">Description:</label>
    <input type="text" id="description" formControlName="description">
  </div>
  <button>Submit</button>
</form>

